@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bs-primaria: #000;
    --bs-secundaria: #fff;
    --bs-terciaria: #ffc107;
}

* {
    margin: 0;
    padding: 0;
}

body {
    
    box-sizing: border-box;
    background-color: var(--bs-primaria);
    color: var(--bs-secundaria);
    
      
}

.cabecalho{
    padding: 2% 0 0 5%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    color:  var(--bs-secundaria);
    text-decoration: none;
    position: relative;

}

.cabecalho__menu__link:hover{
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    color:  var(--bs-terciaria);
    text-decoration: none;
    transition: 0.15s;  
    cursor: pointer;
}

.cabecalho__menu__link::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--bs-terciaria);
    position: absolute;
    bottom: 0%;
    left: 0%;
    transition: 0.25s ease-in-out;

}

.cabecalho__menu__link:hover{
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    color:  var(--bs-terciaria);
    text-decoration: none;
    transition: 0.15s;  
    cursor: pointer;
}

.cabecalho__menu__link:hover::after{
    width: 100%;
}

.container_conteudo{
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.container_apresentacao{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 120px;

}

.titulo_destaque {
    color: var(--bs-terciaria);
}

.rodape{
    background-color: var(--bs-terciaria);
    padding: 20px;
    
}